
/* Font */
@import url("https://fonts.googleapis.com/css?family=Candal|Raleway&display=swap");
/* Variables */
/* Base */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
    overflow: hidden;
}

html {
    font-size: 14px;
}
@media screen and (min-width: 640px) {
	html {
        font-size: 16px;
    }
}
@media screen and (min-width: 1280px) {
	html {
        font-size: 18px;
    }
}

body {
	display: flex;
	margin: 0;
	color: #333;
	background-color: #FAFAFA;
	font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Candal", sans-serif;
	color: #000;
    line-height: initial;
}

h1 {
	font-size: 4rem;
    margin: 5rem 0;
}

h2 {
	font-size: 3rem;
    margin: 3.2rem 0;
}

h3 {
	font-size: 2.34rem;
    margin: 3.2rem 0;
}

h4 {
	font-size: 2rem;
    margin: 1.6rem 0;
}

h5 {
	font-size: 1.66rem;
    margin: 1.6rem 0;
}

h6 {
	font-size: 1.54rem;
    margin: 0.8rem 0;
}

hr {
	margin: 3.2rem 0;
	border: none;
    border-top: 1px solid #999;
}

a {
    color: #000;
}

em {
    color: #000;
}

del {
    color: #999;
}

p {
    margin: 3.2rem 0;
}

blockquote {
	margin: 3.2rem 0;
	padding: 1.6rem;
    background-color: #FF9;
}
blockquote.--line {
	background-color: transparent;
	font-style: italic;
    border-left: 3px solid #999;
}

code {
	background-color: #FF9;
    padding: 0 0.8rem;
}
blockquote code {
    background-color: #FAFAFA;
}
pre code {
    padding: 0;
}

pre {
	margin: 3.2rem 0;
	padding: 1.6rem;
	background-color: #FF9;
    overflow: auto;
}

ul, ol {
	margin: 3.2rem 0;
    padding-left: 1.6rem;
}

img {
	max-width: 100%;
	margin: 3.2rem auto;
    display: block;
}

table {
	border-collapse: collapse;
	margin: 3.2rem auto;
	border: 1px solid #999;
    max-width: 100%;
}

th, td {
	padding: 0.8rem 1.6rem;
    line-height: initial;
}
th:hover, td:hover {
    background-color: #E8E8E8;
}

/* Layout */
.DS_Image {
	flex: 1 1 auto;
	background: url('https://images.pexels.com/photos/931007/pexels-photo-931007.jpeg') center center / cover;
	min-width: 0.8rem;
	overflow: hidden;
    position: relative;
}
@media screen and (min-width: 640px) {
	.DS_Image {
        flex-basis: 25%;
    }
}
@media screen and (min-width: 1280px) {
	.DS_Image {
        min-width: 320px;
    }
}

.DS_Content {
	flex: 2 2 90%;
	position: relative;
    max-width: 640px;
}
@media screen and (min-width: 640px) {
	.DS_Content {
		flex-basis: 75%;
        max-width: 640px;
    }
}
@media screen and (min-width: 1024px) {
	.DS_Content {
        max-width: 1024px;
    }
}
@media screen and (min-width: 1280px) {
	.DS_Content {
        max-width: 1280px;
    }
}
.DS_Content__Scroll {
	padding: 0 3.2rem 3.2rem;
	overflow: auto;
    height: 100%;
}
.DS_Content__TopPage {
    padding-top: 3.2rem;
}

.DS_Header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.6rem 3.2rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
    background-color: rgba(250, 250, 250, 0.9);
}
@media screen and (min-width: 1024px) {
	.DS_Header {
        padding: 3.2rem;
    }
}
.DS_Header > * {
    flex: 0 0 auto;
}
.DS_Header__Logo {
	border: 1px solid #000;
	padding: 0.8rem;
	text-decoration: none;
    color: #000;
}
.DS_Header .DS_Nav {
    flex: 1 1 100%;
}
.DS_Header__ShareLink {
	display: inline-block;
	font-size: 1.4rem;
	color: #999;
	padding: 0 0.4rem;
    text-decoration: none;
}
.DS_Header__ShareLink.--active, .DS_Header__ShareLink:hover {
    color: #000;
}

.DS_Nav__ListItem {
	margin: 0;
    padding: 0 0.8rem;
}

.DS_Nav__Item {
    display: inline;
}
.DS_Nav__ItemLink {
	display: inline-block;
	padding: 0.8rem;
	text-decoration: none;
    color: #999;
}
.DS_Nav__ItemLink.--active, .DS_Nav__ItemLink:hover {
    color: #000;
}

.DS_Main {
    line-height: 2.4rem;
}
@media screen and (min-width: 1024px) {
	.DS_Main {
        padding-top: 3.2rem;
    }
}

.DS_Footer {
	position: absolute;
	bottom: 1.6rem;
	left: calc(100% - 1.6rem);
	transform-origin: 0 100%;
	transform: rotate(-90deg);
    white-space: nowrap;
}
.DS_Footer > * {
	display: inline-block;
    vertical-align: middle;
}
.DS_Footer__Text {
	font-size: 1rem;
	color: #000;
    text-decoration: none;
}
.DS_Footer__Line {
	display: inline-block;
	border-bottom: 1px solid #000;
    width: 5rem;
}

/* Component */
.DS_Button {
	display: inline-block;
	padding: 0.4rem 1.6rem;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	margin-right: 0.8rem;
	border: 1px solid transparent;
	background-color: transparent;
	font-size: inherit;
	font-weight: normal;
	font-family: inherit;
    line-height: inherit;
}
.DS_Button:hover {
	color: #FAFAFA;
	background-color: #333;
    border-color: #333;
}
.DS_Button.--primary {
	border-color: #000;
	background-color: #000;
    color: #FAFAFA;
}
.DS_Button.--secondary {
    border-color: #333;
}